useDynLib("SMSC")

import("locfit")

export(SMSC,
AdaptiveKDE,
AdaptiveKDE_SquareInts,
AKDE,
AssignBandwidths,
AssignBandwidths,
AssignBandwidths2,
Cheng_U,
KNNi,
ksmooth2,
locfit_u,
plot.SMSC
)

S3method("plot","SMSC")

